
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url('https://i.pinimg.com/736x/3f/a2/6e/3fa26e4fba360373b85d2ddd98d1f65e.jpg') no-repeat center/cover;
    height: 100vh;
    color: black;
}

.page-container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    color: black;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.container {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

/* MENU ICON */
.menu {
    font-size: 45px;
    cursor: pointer;
    font-weight: bold;
}


/* PAGE TITLE */
.title {
    font-size: 48px;
    font-weight: 900;
    margin-top: 30px;
}

/* CATEGORY GRID */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 20px;
    margin: 40px auto;
    justify-content: center;
    
}

.btn {
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 15px 25px;
    border-radius: 40px;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    width: 275px;   /* FIXED */
    height: 55px;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.25); /* Added shadow */
    transition: 0.2s ease-in-out;  
}

.btn:hover {
    transform: scale(1.05);
}

/* CATEGORY COLORS */
.pink {
    background: #d94f7d;     /* solid pink */
}

.blue {
    background: #3d6bf2;     /* solid blue */
}

.green {
    background: #32cd32;     /* solid green */
}

.purple {
    background: #9b59b6;     /* solid purple */
}

/* ICON */
.icon {
    width: 45px;
    height: 45px;
}

/* OVERVIEW */
.overview-title {
    margin-top: 30px;
    font-size: 28px;
    font-weight: 700;
}

.overview-grid {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}


/* .overview-grid h3 {
    font-size: 26px;
    margin: 0;
}

.overview-grid p {
    margin: 0;
    font-size: 16px;
} */

/* REWARD TEXT */
.reward-text {
    font-size: 32px;
    font-weight: 800;
    color: black;
    /* text-shadow: 2px 2px 4px black; */
    margin-top: 10px;
}
/* BACK BUTTON */
.back-btn {
    position: absolute;
    bottom: 40px;
    left: 40px;
    padding: 12px 30px;
    background: white;
    color: black;
    border-radius: 35px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.back-btn:hover {
    transform: scale(1.1);
}